<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="socket.io/socket.io.js"></script>
</head>

<body>
  <h1>helllllo</h1>
  <p>Welcome to>
  </p>
</body>

</html>